body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card {
	width: 400px;
	border-radius: 20px;
}

.card-picture {
	height: 50px;
	background: linear-gradient(
		141deg,
		rgba(43, 235, 9, 0.8316059700247287) 0%,
		rgba(0, 205, 255, 0.8652194154028799) 100%
	);
}
