<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="index.css" />
		<title>Beans</title>
	</head>
	<body>
		<article>
			<img
				src="https://images.unsplash.com/photo-1513868853742-e7fb786265db?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80"
				alt="A Picture of Beans"
			/>

			<h1 class="title">Mi Abuelitas Frijoles</h1>

			<p>
				Beans is a staple in most hispanic households. The hardy pinto
				bean can be grown in a variety of climates and is an excellent
				source of protien for those who work hard every day.
			</p>
			<p>
				My grandmother did an exquisite job keeping her home ready for
				any sort of guest. My grandfather worked construction, so there
				were always the toughest and burliest men walking through the
				door. Regardless of the reason they walked in, they ate her
				beans. There was no exception to this rule. Her beans went into
				the mouths of any living creature that decided to grace the home
				my grandfather built with his own two hands.
			</p>
			<p>
				This has been such a staple in my life, that when my grandmother
				got older, I had to learn how to make these beans. Now that I
				can make them reliably and taste is cusping on the memories that
				filled my childhood, it is time to share.
			</p>
			<p>
				Supplies are simple. I will be sharing the Instapot recipe since
				the old fashion way takes too much time. I have all the respect
				in the world for the wives who tended those pots for hours.
			</p>
			<h2>Supplies</h2>
			<ul>
				<li>Instapot</li>
				<li>2 cups of dehydrated pinto beans</li>
				<li>1 Yellow Onion</li>
				<li>3 Garlic Cloves</li>
				<li>1 Carrot</li>
				<li>2 Tablespoons Salt</li>
			</ul>
			<h2>Directions</h2>
			<p>
				First rinse your beans. Make sure there are not any rocks or
				dirt chunks in the beans as they grow in the ground. It's bound
				to happen. Please be sure to tell every bean that you love it. I
				wish this was a joke in the process, but the beans come out
				different when you don't tell them you love them.
			</p>
			<p>
				After rinsing, boil the beans in 8 cups of water for 3 minutes.
				After the rolling boil for the time alloted, remove from heat,
				cover, and let them sit for an hour. They need to get to know
				eachother in a nice hot bath.
			</p>
			<p>
				Next fill your instapot with 6 cups of water, place your onion
				halved, carrot, and garlic all in the pot. Then drain your beans
				and put them in the pot.
			</p>
			<p>
				Pressure cook for 35 minutes. After the timer is done, let them
				sit for another 10 minutes before you complete get ride of the
				pressure.
			</p>
			<p>
				Now set aside 2 cups of the fluid from the beans. Drain the rest
				of fluid. Remove the carrot, onion, and garlic if you can find
				it.
			</p>
			<p>
				Now start mashing and start adding back the bean fluid we set
				aside. You want your consistentcy to be more runny than thick,
				but at this point it's all to preference. Add your salt and
				enjoy.
			</p>
		</article>
	</body>
</html>
